.father{
    height: auto;
}
.display{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.justify{
    justify-content: center;
}
.ai{
    align-items: center;
}

.w700{
    width: 700px;
}
.bg-gain{
    background: gainsboro;
}
.bg-deep{
    background: deepskyblue;
}
.bg-black{
    background: black;
}
.header1{
    height: 50px;
    justify-content: flex-end;
}
.header-margin{
    margin-right: 80px;
}
.header2{
    height: 100px;
    justify-content: space-around;
}
.start{
    width: 80px;
    height: 40px;
    border-radius: 5px;
}
.start-text> h3 {
    font-size: 30px;
}
.header3{
    height: 250px;
}
.header3-text{
    width: 300px;
    height: 200px;
}
.box-square{
    height: 280px;
}
.border{
    width: 640px;
    height: 270px;
    border: 2px solid deepskyblue;
    border-radius: 20px;
}
.margin2{
    margin: 2px;
}
.border-header{
    width: 500px;
    height: 50px;
}
.square-name>h3{
    font-size: 20px;
}
.border-box{
    width: 150px;
    height: 180px;
}
.border-box-square{
    border-radius: 15px;
}
.w140{
    width: 140px;
}
.h120{
    height: 120px;
}
.box-round{
    height: 280px;
}
.box-round-mini{
    width: 180px;
    height: 230px;
    align-content: center;
}
.round{
    width: 120px;
    border-radius: 50%;
}
.round-name{
    width: 130px;
    height: 50px;
    align-content: center;
}
.contour{
    border: 2px solid deepskyblue;
}
.screen{
    height: 900px;
}
.screen-name{
    height: 30px;
}
.screen-center{
    height: 550px;
}

.screen-border,.screen-border1{
    height: 250px;
    border: 2px solid deepskyblue;
    border-radius: 20px;
}
.w200{
    width: 200px;
}
.picture{
    width: 170px;
    height: 100px;
    border-radius: 15px;
    margin: 10px;
}
.picture-button{
    width: 180px;
    height: 20px;
    justify-content: space-between;
}
hr{
    border: none;
    background-color: deepskyblue;
    width: 200px;
    height: 2px;
}
.button-down{
    height: 30px;
    justify-content: space-between;
}
.screen-down{
    height: 250px;
}
.screen-description{
    width: 300px;
    height: 200px;
}
.screen-down-text{
    width: 250px;
    height: 180px;
}
.footer{
    height: 100px;
}
.footer-inside{
    width: 200px;
}
.three-point{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
}