.body{
    background: gray;
    width: 400px;
    height: auto;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.width{
    width: 370px;
    margin: 5px;
}
.head1a{
    background: #b2e7e7;
    height: 80px;
    display: flex;
    align-items: flex-end;
}
.color{
    background: white;
    margin: 10px;
}
.length{
    width: 350px;
}
.string1{
    height: 20px;
}
.head3a{
    background: aqua;
    height: 150px;
    display: flex;
}
.string3{
    height: 130px;
}
.head4a{
    background: cornflowerblue;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.string4{
    width: 160px;
    height: 100px;
}
.head5a{
    background: blue;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.string5{
    height: 50px;
}
.string5a{
    width: 80px;
    height: 20px;
}
.head6a{
    background: darkblue;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}
.string6{
    height: 40px;
}
.string6a{
    height: 200px;
}
.head7a{
    background: black;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.head7aa1{
    width: 360px;
    height: 50px;
    display: flex;
    align-items: flex-end;
}
.head7aa2{
    width: 360px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.string7a{
    background: white;
    height: 15px;
    margin: 5px;
}
.string7b{
    background: white;
    margin: 5px;
    width: 100px;
    height: 15px;
}