@media screen and (max-width: 480px){
    .header-one{
        display: none;
    }
    .header-two,.header-two-text,.box-rectangle,.footer-inside{
        width: auto;
    }
    .body-center,.box-square,.box-rectangle,.box-rectangle-two{
        height: auto;
    }
    .header-two-box-case,.box-square{
        width: 250px;
    }
    .header-two-box-case{
        height: 350px;
    }
    .header-two-text h3,.header-two-text h4,.header-two-text h2{
        color: #35d5f1;
    }
    .header-two-square,.footer-inside{
        background: #bdbaba;
    }
    .block-none{
        height: 400px;
    }
    .box-square,.rectangle,.box-rectangle-two,.footer{
        background: #35d5f1;
    }
    .square,.rectangle-mini,.three-point{
        background: black;
    }
    .box-rectangle{
        flex-direction: column;
    }
    .box-rectangle-name{
        width: 480px;
    }
    .box-rectangle-two{
        height: auto;
        flex-direction: column;
    }
    .box-round{
        display: none;
    }
    .final-text h3{
        color: black;
    }
}